#include "\masm32\include\resource.h"


#define  ID_SLIDER1 1001

;################################################################################

VOLCONTROL DIALOG DISCARDABLE  0, 0, 120, 29
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Master Volume Control"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         "Slider1",ID_SLIDER1,"msctls_trackbar32",TBS_BOTH |
                    WS_TABSTOP,0,0,120,29
END

;################################################################################
